.blur-header{
 background-color: white;
    backdrop-filter: blur(9px);
    transition: all 0.5s ease-in;
    color: black!important;
}
.header{
  z-index: 999;
}

.d-desk-none{
  display: none;
}
@media only screen and (max-width: 600px) {
.d-mob-none {
display: none!important;
}
.d-desk-none{
  display: flex;
}
.menuul{
  background-color: white;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  right: 0;
  justify-content: flex-start!important;
  align-items: flex-start!important;
  gap: unset!important;
  height: 100vh;
  animation: animmenu 1s;
}
@keyframes animmenu {
  0%{opacity: 0;}
}
.menuul li{
  width: 100%;
  padding:  10px ;
 margin-bottom: 2px;
}

.iconclosemenu{
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 10px;
  font-size: 25px;
}
}

